:root {
    --main-color:#ff9800;
    --First-color:#ff9800;
    --second-color:#e91e63;
    --third-color:#009688;
    --fourth-color:#03a9f4;
    --fifth-color:#4caf50;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.head-title {
    font-size: 30px;
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 1.5rem;
}

/* Header */
Header {
    background-color: rgba(255,255,255,.2);
    padding: .8rem 0;
    position: fixed;
    width: 100%;
    z-index: 2000;
    transition: background-color 1000ms;
}

Header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

Header .container .logo-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

/* logo */
Header .container .logo-box .logo h2 {
    color: #fff;
    margin: 0;
    font-weight: 900;
    text-transform: uppercase;
    transition: color 1000ms;
}

/* burgerBTN */
Header .container .logo-box .burgerBTN {
    width: 38px;
    padding: .6rem .2rem;
    cursor: pointer;
    display: none;
}

Header .container .logo-box .burgerBTN span {
    background-color: #fff;
    display: block;
    height: 3px;
    margin-bottom: 5px;
    border-radius: 8px;
    transition: background-color 1000ms;
}

Header .container .logo-box .burgerBTN span:last-child {
    margin-bottom: 0px;
}

/* Links */
Header .container .ul-Links {
    width: 70%;
}

Header .container .ul-Links ul {
    justify-content: flex-end;
}

Header .container .ul-Links ul li {
    margin-right: .5rem;    
}

Header .container .ul-Links ul li:last-child {
    margin-right: 0rem;
}

Header .container .ul-Links ul li a {
    display: block;
    color: #fff;
    padding: .4rem .8rem;
    text-decoration: none;
    transition: color 500ms;
    text-transform: uppercase;
}

Header .container .ul-Links ul li a:hover,
Header .container .ul-Links ul li a.actv {
    color: var(--main-color);
}

/* Media */
@media screen and (max-width: 991px) {
    Header .container .logo-box {
        width: 33%;
    }
    Header .container .logo-box h2 {
        font-size: 2rem;
    }
    Header .container .ul-Links {
        width: 67%;
    }
    Header .container .ul-Links ul li a {
        /* background-color: red; */
        padding: .4rem .4rem;
    }
}

@media screen and (max-width: 767px) {
    Header .container {
        flex-direction: column;
    }
    Header .container .logo-box .burgerBTN {
        display: block;
    }
    Header .container .ul-Links {
        display: none;
        width: 100%;
        margin-top: .8rem;
    }
    Header .container .logo-box {
        width: 100%;
    }
    Header .container .ul-Links ul {
        justify-content: center;
    }
}

@media screen and (max-width: 476px) {
    Header .container .ul-Links ul {
        flex-direction: column;
    }
    Header .container .ul-Links ul li {
        margin: 0 0 .3rem 0;
    }
}

@media screen and (max-width: 295px) {
    Header .container .logo-box {
        flex-direction: column;
    }
    Header .container .logo-box .logo {
        width: 100%;
        text-align: center;
        margin-bottom: .4rem;
    }
    Header .container .logo-box .burgerBTN {
        margin-left: auto;
    }
}

/* Landing-Page */
.Landing-Page {
    background-image: url(../img/background-1.jpg);
    background-size: 100% 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: background-image 700ms;
}

.Landing-Page::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(.0,.0,.0,.8);
    z-index: 2;
}

.Landing-Page .textBox {
    text-align: center;
    padding: 0 1rem;
    color: #fff;
    z-index: 3;
}

.Landing-Page .textBox h1 {
    margin: 0 0 .5rem 0;
    font-weight: 600;
}

.Landing-Page .textBox h1 span {
    color: var(--main-color);
    text-transform: uppercase;
}

.Landing-Page .textBox p {
    margin: 0;
    line-height: 1.6;
}

/* setting box */
.setting-box {
    background-color: #ffffff33;
    position: fixed;
    left: 0;
    top: 0;
    width: 180px;
    height: fit-content;
    margin-top: 64px;
    z-index: 1999;
    transition: background-color 1000ms;
}

.setting-box .setting-options {
    height: 100vh;
    padding: 2rem .7rem;
    position: relative;
}

.setting-box .setIconBox {
    background-color: rgba(255,255,255,.2);
    position: absolute;
    right: -34px;
    top: 35%;
    padding: 8px;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: 0 8px 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.setting-box .setIconBox .settingIcon {
    font-size: 18px;
    color: var(--main-color);
}

@media screen and (max-width: 350px) {
    .setting-box {
        width: 130px;
    }
}

@media screen and (max-width: 295px) {
    .setting-box {
        margin-top: 108px;
    }
}

/* option-box */
.setting-box .option-box {
    margin-bottom: 1.5rem;
    text-align: center;
}

.setting-box .option-box h4 {
    margin: 0 0 .3rem 0;
    padding-left: 8px;
    color: #fff;
}

.setting-box .option-box .colors .color-list {
    padding: 10px 0;
}

.setting-box .option-box .colors .color-list li {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    background-color: #333;
    cursor: pointer;
    border-radius: 50%;
    transition: 200ms;
}

.setting-box .option-box .colors .color-list li.active {
    border: 2px solid #fff;
}

.setting-box .option-box .colors .color-list li:hover {
    width: 24px;
    height: 24px;
}

.setting-box .option-box .colors .color-list li:last-child {
    margin-right: 0px;
}

.setting-box .option-box .colors .color-list li:nth-child(1) {
    background-color: var(--First-color);
}

.setting-box .option-box .colors .color-list li:nth-child(2) {
    background-color: var(--second-color);
}

.setting-box .option-box .colors .color-list li:nth-child(3) {
    background-color: var(--third-color);
}

.setting-box .option-box .colors .color-list li:nth-child(4) {
    background-color: var(--fourth-color);
}

.setting-box .option-box .colors .color-list li:nth-child(5) {    
    background-color: var(--fifth-color);
}

.setting-box .option-box h6 {
    color: #fff;
    margin-bottom: .8rem;
}

.setting-box .option-box .randomBackg .yes,
.setting-box .option-box .randomBackg .no {
    cursor: pointer;
    width: 45px;
    display: inline-block;
    color: #fff;
    background-color: var(--main-color);
    padding: 4px 0;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 700;
    opacity: .4;
}

.setting-box .option-box .randomBackg span.active {
    opacity: 1;
}

/* About */
#About {
    padding: 3rem 0;
}

#About .row {
    align-items: center;
}

#About .info-box p {
    line-height: 1.8;
    color: #767676;
    margin: 0;
}

#About .img-box img {
    width: 100%;
    border-radius: 8px;
}

@media screen and (max-width: 767px) {
    #About .info-box {
        margin-bottom: 1.2rem;
    }
}

/* //////////////////////////// */

/* Service */
#Service {
    padding: 3rem 0;
    background-color: aquamarine;
    height: 500px;
}

/* Contacts */
#Contacts {
    padding: 3rem 0;
    background-color: brown;
    height: 500px;
}

/* //////////////////////////// */

/* our-skills */
#our-skills {
    background-color: #eee;
    padding: 3rem 0;
}

#our-skills .container h2 {
    text-align: center;
    margin-bottom: 2rem;
}

#our-skills .container .skill-box {
    background-color: #fff;
    margin-bottom: 1rem;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

#our-skills .container .skill-box:last-child {
    margin-bottom: 0rem;
}

#our-skills .container .skill-box .skill-name {
    font-weight: bold;
    width: 120px;
    text-align: center;
}

#our-skills .container .skill-box .skill-progress {
    background-color: #ddd;
    height: 24px;
    width: calc(100% - 120px);
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

#our-skills .container .skill-box .skill-progress .progress-color {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--main-color);
    transition: width 3000ms;
    border-radius: 0 8px 8px 0;
}

/* Gallery */
#Gallery {
    padding: 3rem 0;
}

#Gallery h2 {
    text-align: center;
    margin-bottom: 2rem;
}

#Gallery .image-box {
    text-align: center;
}

#Gallery .image-box img {
    width: 260px;
    padding: 3px;
    margin: 5px;
    border: 1px solid #ccc;
    background-color: #f6f6f6;
    cursor: pointer;
}

@media screen and (max-width: 991px) {
    #Gallery .image-box img {
        width: 332px;
    }
}

@media screen and (max-width: 767px) {
    #Gallery .image-box img {
        width: 100%;
    }
}

/* Popup-box */

.Popup-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 2000;    
}

.Popup-Box {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 700px;
    transform: translate(-50%,-50%);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 3px;
    z-index: 2005;
}

.Popup-img {
    max-width: 100%;
    border-radius: 0 0 5px 5px;
}

@media screen and (max-width: 991px) {
    .Popup-Box {
        width: 600px;
    }
}

@media screen and (max-width: 767px) {
    .Popup-Box {
        width: 500px;
    }
}

@media screen and (max-width: 575px) {
    .Popup-Box {
        width: 400px;
    }
}

@media screen and (max-width: 425px) {
    .Popup-Box {
        width: 350px;
    }
}

@media screen and (max-width: 400px) {
    .Popup-Box {
        width: 100%;
    }
}

.heading {
    text-align: center;
    margin: .8rem 0;
    color: var(--main-color);
}

.closeBTN {
    display: block;
    width: fit-content;
    margin-left: auto;
    padding: 10px 10px 0 0;
    cursor: pointer;
    font-size: 18px;
}


/* Timeline */
#timeline {
    padding: 3rem 0;
    background-color: #eee;
}

#timeline .timeline-content {
    position: relative;
    overflow: hidden;
}

#timeline .timeline-content::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: var(--main-color);
}

#timeline .timeline-content .year {
    background-color: var(--main-color);
    color: #fff;
    font-weight: bold;
    margin: 30px auto;
    padding: 2px 5px;
    width: 55px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    z-index: 10;
}

#timeline .timeline-content .left,
#timeline .timeline-content .right {
    width: calc(50% - 20px);
    margin-bottom: 30px;
    position: relative;
}

#timeline .timeline-content .left {
    float: left;
}

#timeline .timeline-content .right {
    float: right;
}

#timeline .timeline-content .left::after,
#timeline .timeline-content .right::after {
    content: "";
    width: 14px;
    height: 14px;
    background-color: #fff;
    border: 3px solid var(--main-color);
    position: absolute;
    top: 15px;
    border-radius: 50%;
}

#timeline .timeline-content .left::after {
    right: -27px;
}

#timeline .timeline-content .right::after {
    left: -27px;
}

#timeline .timeline-content .content {
    padding: 20px;
    background-color: #fff;
}

#timeline .timeline-content .content h4 {
    font-weight: bold;
    color: var(--main-color);
    margin: 0 0 8px 0;
}

#timeline .timeline-content .left p,
#timeline .timeline-content .right p {
    margin: 0;
    color: #666;
    line-height: 1.6;
}

.floatClearFix {
    clear: both;
}

#timeline .timeline-content .left .content::after,
#timeline .timeline-content .right .content::after {
    content: "";
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    position: absolute;
    top: 12px;
}

#timeline .timeline-content .left .content::after {
    right: -20px;
    border-color: transparent transparent transparent #fff;
}

#timeline .timeline-content .right .content::after {
    left: -20px;
    border-color:  transparent #fff transparent transparent;
}

/* features */

#features {
    padding: 4rem 0;
}

#features h2 {
    text-align: center;
    margin-bottom: 3rem;
}

#features .features-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#features .features-box .feature {
    width: calc(100% / 3);
    padding: 10px;
    text-align: center;
    margin-bottom: 1.5rem;
}

#features .features-box .feature img {
    width: 95px;
    height: 95px;
    border-radius: 50%;
}

#features .features-box .feature h4 {
    margin: 1.5rem 0 2rem 0;
    font-size: 22px;
    font-weight: 600;
    position: relative;
}

#features .features-box .feature h4::before {
    content: "";
    position: absolute;
    bottom: -1.3rem;
    left: 50%;
    width: 40px;
    height: 2px;
    transform: translateX(-50%);
    background-color: var(--main-color);
}

#features .features-box .feature p {
    margin: 0 auto;
    width: 80%;
    line-height: 1.6;
    color: #999;
}

@media screen and (max-width: 767px) {
    #features .features-box .feature  {
        width: calc(100% / 2);
    }   
}

@media screen and (max-width: 576px) {
    #features .features-box .feature  {
        width: 100%;
    }   
}

/* testimonial */

#testimonial {
    padding: 3rem 0rem 4rem 0rem;
    position: relative;
}

#testimonial::before {
    content: "";
    position: absolute;
    left: 0%;
    top: 0%;
    width: 50%;
    height: 100%;
    background-color: var(--main-color);
    z-index: 0;
}

#testimonial::after {
    content: "";
    position: absolute;
    right: 0%;
    top: 0%;
    width: 50%;
    height: 100%;
    background-color: #333;
    z-index: 0;
}

#testimonial .container {
    position: relative;
    z-index: 2;
}

#testimonial .container h2 {
    color: #fff;
    position: relative;
    z-index: 1;
}

#testimonial .container .testimonial-box {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#testimonial .container .testimonial-box .ts-box {
    background-color: #fff;
    width: calc(98% / 3);
    padding: 15px;
    margin-right: 1%;
    position: relative;
    z-index: 2;
}

#testimonial .container .testimonial-box .ts-box:last-child {
    margin-right: 0;
}

#testimonial .container .testimonial-box .ts-box>p {
    line-height: 1.5;
    font-size: 18px;
    font-style: italic;
    color: #999;
}

#testimonial .container .testimonial-box .ts-box .person-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

#testimonial .container .testimonial-box .ts-box .person-info img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

#testimonial .container .testimonial-box .ts-box .person-info .info {
    width: calc(100% - 80px);
}

#testimonial .container .testimonial-box .ts-box .person-info .info h5 {
    color: var(--main-color);
    margin: 0;
}

#testimonial .container .testimonial-box .ts-box .person-info .info p {
    color: #999;
    font-size: 14px;
    margin: 0;
}

/*  */









